<div class="problem-number">Problem 192</div>
<div class="problem-name">Best Approximations</div>
<div class="problem-content">
<p>Let <var>x</var> be a real number.<br>
A <i>best approximation</i> to <var>x</var> for the <i>denominator bound</i> <var>d</var> is a rational number <var>r</var>/<var>s</var> <i>in reduced form</i>, with <var>s</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>d</var>, such that any rational number which is closer to <var>x</var> than <var>r</var>/<var>s</var> has a denominator larger than <var>d</var>:</p>


<div style="text-align:center;">|<var>p</var>/<var>q</var>-<var>x</var>| <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> |<var>r</var>/<var>s</var>-<var>x</var>| <img src="/files/symbol_implies.gif" alt="⇒" style="vertical-align:middle;" border="0" height="11" width="15"><var>q</var> <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>d</var>
</div>

<p>For example, the best approximation to <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">13 for the denominator bound 20 is 18/5 and the best approximation to <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">13 for the denominator bound 30 is 101/28.</p>

<p>Find the sum of all denominators of the best approximations to <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14"><var>n</var> for the denominator bound 10<sup>12</sup>, where <var>n</var> is not a perfect square and 1 <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 100000.</p>
</div>
