<div class="problem-number">Problem 117</div>
<div class="problem-name">Red, green, and blue tiles</div>
<div class="problem-content">
<p>Using a combination of black square tiles and oblong tiles chosen 
from: red tiles measuring two units, green tiles measuring three units, 
and blue tiles measuring four units, it is possible to tile a row 
measuring five units in length in exactly fifteen different ways.</p>

<table align="center" border="0" cellpadding="10" cellspacing="0">
<tbody><tr>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="3" style="background-color:#00cc00"><img src="/files/spacer.gif" alt="" height="20" width="68"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#00cc00"><img src="/files/spacer.gif" alt="" height="20" width="68"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#00cc00"><img src="/files/spacer.gif" alt="" height="20" width="68"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
<td colspan="3" style="background-color:#00cc00"><img src="/files/spacer.gif" alt="" height="20" width="68"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="3" style="background-color:#00cc00"><img src="/files/spacer.gif" alt="" height="20" width="68"></td>
<td colspan="2" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="44"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td colspan="4" style="background-color:#0000cc"><img src="/files/spacer.gif" alt="" height="20" width="92"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="2"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="4" style="background-color:#0000cc"><img src="/files/spacer.gif" alt="" height="20" width="92"></td>
</tr></tbody></table>
</td>
<td>&nbsp;</td>
</tr>
</tbody></table>
<p>How many ways can a row measuring fifty units in length be tiled?</p>
<p class="info">NOTE: This is related to problem <a target="_blank" href="/problems/116">116</a>.</p>
</div>
