<div class="problem-number">Problem 187</div>
<div class="problem-name">Semiprimes</div>
<div class="problem-content">
<p>A composite is a number containing at least two prime factors. For example, 15 = 3 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5; 9 = 3 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 3; 12 = 2 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 2 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 3.</p>

<p>There are ten composites below thirty containing precisely two, not necessarily distinct, prime factors:
4, 6, 9, 10, 14, 15, 21, 22, 25, 26.</p>

<p>How many composite integers, <var>n</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> 10<sup>8</sup>, have precisely two, not necessarily distinct, prime factors?</p>
</div>
