<div class="problem-number">Problem 142</div>
<div class="problem-name">Perfect Square Collection</div>
<div class="problem-content">
<p>Find the smallest x + y + z with integers x <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"> y <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"> z <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"> 0 such that x + y, x <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> y, x + z, x <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> z, y + z, y <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> z are all perfect squares.</p>
</div>
