<div class="problem-number">Problem 102</div>
<div class="problem-name">Triangle containment</div>
<div class="problem-content">

<p>Three distinct points are plotted at random on a Cartesian plane, for which -1000 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><i>x</i>, <i>y</i> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 1000, such that a triangle is formed.</p>
<p>Consider the following two triangles:</p>
<p style="text-align:center;">A(-340,495), B(-153,-910), C(835,-947)<br><br>
X(-175,41), Y(-421,-714), Z(574,-645)</p>
<p>It can be verified that triangle ABC contains the origin, whereas triangle XYZ does not.</p>
<p>Using <a target="_blank" href="/files/triangles.txt">triangles.txt</a>
 (right click and 'Save Link/Target As...'), a 27K text file containing 
the co-ordinates of one thousand "random" triangles, find the number of 
triangles for which the interior contains the origin.</p>
<p class="info">NOTE: The first two examples in the file represent the triangles in the example given above.</p>

</div>
