<div class="problem-number">Problem 181</div>
<div class="problem-name">Investigating in how many ways objects of two different colours can be grouped.</div>
<div class="problem-content">
<p>Having three black objects B and one white object W they can be grouped in 7 ways like this:</p>
<table align="center" cellpadding="10"><tbody><tr>
<td>(BBBW)</td>
<td>(B,BBW)</td>
<td>(B,B,BW)</td>
<td>(B,B,B,W)</td>
<td>(B,BB,W)</td>
<td>(BBB,W)</td>
<td>(BB,BW)</td>
</tr></tbody></table>
<p>In how many ways can sixty black objects B and forty white objects W be  thus grouped?</p>
</div>
