<div class="problem-number">Problem 138</div>
<div class="problem-name">Special isosceles triangles</div>
<div class="problem-content">
<p>Consider the isosceles triangle with base length, <i>b</i> = 16, and legs, L = 17.</p>

<div style="text-align:center;">
<img src="/files/p_138.gif" alt="" height="228" width="230">
</div>
<p>By using the Pythagorean theorem it can be seen that the height of the triangle, <i>h</i> = <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">(17<sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 8<sup>2</sup>) = 15, which is one less than the base length.</p>
<p>With <i>b</i> = 272 and L = 305, we get <i>h</i> = 273, which is one more than the base length, and this is the second smallest isosceles triangle with the property that <i>h</i> = <i>b</i> <img src="/files/symbol_plusmn.gif" alt="±" style="vertical-align:middle;" border="0" height="11" width="11"> 1.</p>
<p>Find <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11"> L for the twelve smallest isosceles triangles for which <i>h</i> = <i>b</i> <img src="/files/symbol_plusmn.gif" alt="±" style="vertical-align:middle;" border="0" height="11" width="11"> 1 and <i>b</i>, L are positive integers.</p>

</div>
