<div class="problem-number">Problem 135</div>
<div class="problem-name">Same differences</div>
<div class="problem-content">
<p>Given the positive integers, <i>x</i>, <i>y</i>, and <i>z</i>, are consecutive terms of an arithmetic progression, the least value of the positive integer, <i>n</i>, for which the equation, <i>x</i><sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"><i>y</i><sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"><i>z</i><sup>2</sup> = <i>n</i>, has exactly two solutions is <i>n</i> = 27:</p>
<p style="text-align:center;">34<sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 27<sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 20<sup>2</sup> = 12<sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 9<sup>2</sup><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 6<sup>2</sup> = 27</p>
<p>It turns out that <i>n</i> = 1155 is the least value which has exactly ten solutions.</p>
<p>How many values of <i>n</i> less than one million have exactly ten distinct solutions?</p>

</div>
