<div class="problem-number">Problem 114</div>
<div class="problem-name">Counting block combinations I</div>
<div class="problem-content">
<p>A row measuring seven units in length has red blocks with a minimum 
length of three units placed on it, such that any two red blocks (which 
are allowed to be different lengths) are separated by at least one black
 square. There are exactly seventeen ways of doing this.</p>

<table align="center" border="0" cellpadding="5" cellspacing="1">
<tbody><tr>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="3" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="66"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td colspan="4" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="89"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="4" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="89"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="4" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="89"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="4" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="89"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td colspan="5" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="112"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="5" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="112"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="5" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="112"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td colspan="6" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="135"></td>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
</tr></tbody></table>
</td>
</tr>
<tr>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td style="background-color:#000000"><img src="/files/spacer.gif" alt="" height="20" width="20"></td>
<td colspan="6" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="135"></td>
</tr></tbody></table>
</td>
<td>
<table border="1" cellpadding="0" cellspacing="1"><tbody><tr>
<td colspan="7" style="background-color:#cc0000"><img src="/files/spacer.gif" alt="" height="20" width="158"></td>
</tr></tbody></table>
</td>
<td>&nbsp;</td>
</tr>
</tbody></table>
<p>How many ways can a row measuring fifty units in length be filled?</p>
<p class="info">NOTE: Although the example above does not lend itself to
 the possibility, in general it is permitted to mix block sizes. For 
example, on a row measuring eight units in length you could use red (3),
 black (1), and red (4).</p>
</div>
