<div class="problem-number">Problem 198</div>
<div class="problem-name">Ambiguous Numbers</div>
<div class="problem-content">
<p>A best approximation to a real number <var>x</var> for the denominator bound <var>d</var> is a rational number <var>r</var>/<var>s</var> (in reduced form) with <var>s</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>d</var>, so that any rational number <var>p</var>/<var>q</var> which is closer to <var>x</var> than <var>r</var>/<var>s</var> has <var>q</var> <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>d</var>.</p>

<p>Usually the best approximation to a real number is uniquely 
determined for all denominator bounds. However, there are some 
exceptions, e.g. 9/40 has the two best approximations 1/4 and 1/5 for 
the denominator bound 6.
We shall call a real number <var>x</var> <i>ambiguous</i>, if there is at least one denominator bound for which <var>x</var> possesses two best approximations. Clearly, an ambiguous number is necessarily rational.</p>

<p>How many ambiguous numbers <var>x</var> = <var>p</var>/<var>q</var>,
0 <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>x</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> 1/100, are there whose denominator <var>q</var> does not exceed 10<sup>8</sup>?</p>
</div>
