<div class="problem-number">Problem 120</div>
<div class="problem-name">Square remainders</div>
<div class="problem-content">

<p>Let <i>r</i> be the remainder when (<i>a</i><img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9">1)<sup><i>n</i></sup> + (<i>a</i>+1)<sup><i>n</i></sup> is divided by <i>a</i><sup>2</sup>.</p>
<p>For example, if <i>a</i> = 7 and <i>n</i> = 3, then <i>r</i> = 42: 6<sup>3</sup> + 8<sup>3</sup> = 728 <img src="/files/symbol_cong.gif" alt="≡" style="vertical-align:middle;" border="0" height="11" width="9"> 42 mod 49. And as <i>n</i> varies, so too will <i>r</i>, but for <i>a</i> = 7 it turns out that <i>r</i><sub>max</sub> = 42.</p>
<p>For 3 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><i>a</i> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 1000, find <span style="font-family:times new roman;font-size:13pt;"><img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11"></span> <i>r</i><sub>max</sub>.</p>

</div>
