<div class="problem-number">Problem 271</div>
<div class="problem-name">Modular Cubes, part 1</div>
<div class="problem-content">
<p>
For a positive number <var>n</var>, define S(<var>n</var>) as the sum of the integers <var>x,</var> for which 1<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>x</var><img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var> and<br><var>x</var><sup>3</sup><img src="/files/symbol_cong.gif" alt="≡" style="vertical-align:middle;" border="0" height="11" width="9">1 mod <var>n</var>.
</p>
<p>
When <var>n</var>=91, there are 8 possible values for <var>x</var>, namely : 9, 16, 22, 29, 53, 74, 79, 81.<br>
Thus, S(91)=9+16+22+29+53+74+79+81=363.</p>
<p>
Find S(13082761331670030).
</p>

</div>
