<div class="problem-number">Problem 209</div>
<div class="problem-name">Circular Logic</div>
<div class="problem-content">
<p>A <var>k</var>-input <i>binary truth table</i> is a map from <var>k</var>
 input bits
(binary digits, 0 [false] or 1 [true]) to 1 output bit. For example, the
 2-input binary truth tables for the logical AND and XOR functions are:</p>

<div style="text-align:center; margin-left:150px; margin-right:150px;">
<table align="left" border="1" cellpadding="2" cellspacing="0">
<tbody><tr style="background-color:#c1daf9;">
<td align="center" width="30"><var>x</var></td>
<td align="center" width="30"><var>y</var></td>
<td>
<var>x</var> AND <var>y</var>
</td>
</tr>
<tr>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
</tr>
<tr>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">0</td>
</tr>
<tr>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">0</td>
</tr>
<tr>
<td align="center">1</td>
<td align="center">1</td>
<td align="center">1</td>
</tr>
</tbody></table>
<table align="right" border="1" cellpadding="2" cellspacing="0">
<tbody><tr style="background-color:#c1daf9;">
<td align="center" width="30"><var>x</var></td>
<td align="center" width="30"><var>y</var></td>
<td>
<var>x</var> XOR <var>y</var>
</td>
</tr>
<tr>
<td align="center">0</td>
<td align="center">0</td>
<td align="center">0</td>
</tr>
<tr>
<td align="center">0</td>
<td align="center">1</td>
<td align="center">1</td>
</tr>
<tr>
<td align="center">1</td>
<td align="center">0</td>
<td align="center">1</td>
</tr>
<tr>
<td align="center">1</td>
<td align="center">1</td>
<td align="center">0</td>
</tr>
</tbody></table>
</div>
<br clear="all"><p>How many 6-input binary truth tables, τ, satisfy the formula</p>

<div style="text-align:center;">
τ(<var>a</var>, <var>b</var>, <var>c</var>, <var>d</var>, <var>e</var>, <var>f</var>) AND τ(<var>b</var>, <var>c</var>, <var>d</var>, <var>e</var>, <var>f</var>, <var>a</var> XOR (<var>b</var> AND <var>c</var>)) = 0
</div>
<br><p>for all 6-bit inputs (<var>a</var>, <var>b</var>, <var>c</var>, <var>d</var>, <var>e</var>, <var>f</var>)?
</p>
</div>
