<div class="problem-number">Problem 270</div>
<div class="problem-name">Cutting Squares</div>
<div class="problem-content">
<p>A square piece of paper with integer dimensions N<img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9">N is placed with a corner at the origin and two of its sides along the <var>x</var>- and <var>y</var>-axes. Then, we cut it up respecting the following rules:
</p>
<ul>
<li>We only make straight cuts between two points lying on different sides of the square, and having integer coordinates.</li>
<li>Two cuts cannot cross, but several cuts can meet at the same border point.</li>
<li>Proceed until no more legal cuts can be made.</li>
</ul>
<p>Counting any reflections or rotations as distinct, we call C(N) the number of ways to cut an N<img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9">N square. For example, C(1) = 2 and C(2) = 30 (shown below).</p>

<div align="center"><img src="/files/p_270_CutSquare.gif"></div>

<p>What is C(30) mod 10<sup>8</sup> ?</p>
</div>
