<div class="problem-number">Problem 272</div>
<div class="problem-name">Modular Cubes, part 2</div>
<div class="problem-content">
<p>
For a positive number <var>n</var>, define C(<var>n</var>) as the number of the integers <var>x,</var> for which 1<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>x</var><img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var> and<br><var>x</var><sup>3</sup><img src="/files/symbol_cong.gif" alt="≡" style="vertical-align:middle;" border="0" height="11" width="9">1 mod <var>n</var>.
</p>
<p>
When <var>n</var>=91, there are 8 possible values for <var>x</var>, namely : 9, 16, 22, 29, 53, 74, 79, 81.<br>
Thus, C(91)=8.</p>
<p>
Find the sum of the positive numbers <var>n</var><img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10">10<sup>11</sup> for which C(<var>n</var>)=242.
</p></div>
