<div class="problem-number">Problem 231</div>
<div class="problem-name">The prime factorisation of binomial coefficients</div>
<div class="problem-content">
<p>The binomial coefficient <sup>10</sup>C<sub>3</sub> = 120.<br>
120 = 2<sup>3</sup><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 3 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5 = 2 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 2 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 2 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 3 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5, and 2 + 2 + 2 + 3 + 5 = 14.<br>
So the sum of the terms in the prime factorisation of <sup>10</sup>C<sub>3</sub> is 14.
<br><br>
Find the sum of the terms in the prime factorisation of <sup>20000000</sup>C<sub>15000000</sub>.
</p>
</div>
