<div class="problem-number">Problem 245</div>
<div class="problem-name">Coresilience</div>
<div class="problem-content">
<p>We shall call a fraction that cannot be cancelled down a resilient fraction.<br> Furthermore we shall define the resilience of a denominator, <var>R</var>(<var>d</var>), to be the ratio of its proper fractions that are resilient; for example, <var>R</var>(12) = <sup>4</sup>⁄<sub>11</sub>.</p>



<div style="text-align:left;">
<table><tbody><tr>
<td>The resilience of a number <var>d</var> <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"> 1 is then</td>
<td>
<div style="text-align:center;">φ(<var>d</var>)<br><img src="/files/blackdot.gif" alt="" height="1" width="36"><br><var>d</var> - 1</div></td>
<td>, where φ is Euler's totient function.</td>
</tr></tbody></table>
<table><tbody><tr>
<td>We further define the <b>coresilience</b> of a number <var>n</var> <img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"> 1 as <var>C</var>(<var>n</var>)</td>
<td>=&nbsp;</td>
<td>
<div style="text-align:center;">
<var>n</var> - φ(<var>n</var>)<br><img src="/files/blackdot.gif" alt="" height="1" width="54"><br><var>n</var> - 1</div></td>
<td>.</td>
</tr></tbody></table>
<table><tbody><tr>
<td>The coresilience of a prime <var>p</var> is <var>C</var>(<var>p</var>)</td>
<td>=&nbsp;</td>
<td>
<div style="text-align:center;">1<br><img src="/files/blackdot.gif" alt="" height="1" width="34"><br><var>p</var> - 1</div></td>
<td>.</td>
</tr></tbody></table>
</div>

<!--
<p>The resilience of a number <var>d</var> <img src='images/symbol_gt.gif' width='10' height='10' alt='&gt;' border='0' style='vertical-align:middle;' /> 1 is then <font "size=4"><sup>&phi;(<var>d</var>)</sup>&frasl;<sub>(<var>d</var>-1)</sub></font>, where &phi; is Euler's totient function.</p>

<p>We further define the <b>coresilience</b> of a number <var>n</var> <img src='images/symbol_gt.gif' width='10' height='10' alt='&gt;' border='0' style='vertical-align:middle;' /> 1 as <var>C</var>(<var>n</var>) = <font "size=4"><sup>(<var>n</var> - &phi;(<var>n</var>))</sup>&frasl;<sub>(<var>n</var> - 1)</sub></font>.
</p>

<p>The coresilience of a prime <var>p</var> is <var>C</var>(<var>p</var>) = <font "size=4"><sup>1</sup>&frasl;<sub>(<var>p</var> - 1)</sub></font>.</p>
-->

<p>Find the sum of all <b>composite</b> integers 1 <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 2<img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9">10<sup>11</sup>, for which <var>C</var>(<var>n</var>) is a <dfn title="A fraction with numerator 1">unit fraction</dfn>.
</p>

</div>
