<div class="problem-number">Problem 292</div>
<div class="problem-name">Pythagorean Polygons</div>
<div class="problem-content">
<p>We shall define a <i>pythagorean polygon</i>  to be a <b>convex polygon</b> with the following properties:<br></p>
<ul>
<li>there are at least three vertices,</li>
<li>no three vertices are aligned,</li>
<li>each vertex has <b>integer coordinates</b>,</li>
<li>each edge has <b>integer length</b>.</li>
</ul>
<p>For a given integer <var>n</var>, define P(<var>n</var>) as the number of distinct pythagorean polygons for which the perimeter is <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> <var>n</var>.<br>
Pythagorean polygons should be considered distinct as long as none is a translation of another.</p>

<p>You are given that P(4) = 1, P(30) = 3655 and P(60) = 891045.<br>
Find P(120).</p>
</div>
