<div class="problem-number">Problem 224</div>
<div class="problem-name">Almost right-angled triangles II</div>
<div class="problem-content">
<p>Let us call an integer sided triangle with sides <var>a</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>b</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>c</var> <i>barely obtuse</i> if the sides satisfy <br><var>a</var><sup>2</sup> + <var>b</var><sup>2</sup> = <var>c</var><sup>2</sup> - 1.</p>

<p>How many barely obtuse triangles are there with perimeter <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 75,000,000?</p>

</div>
