<div class="problem-number">Problem 291</div>
<div class="problem-name">Panaitopol Primes</div>
<div class="problem-content">
<p>
A prime number <var>p</var> is called a Panaitopol prime if <img src="/files/p_291_formula.gif" style="vertical-align:middle"> for some positive integers<br><var>x</var> and <var>y</var>.
</p>
<p>
Find how many Panaitopol primes are less than 5<img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9">10<sup>15</sup>.
</p>

  
</div>
