<div class="problem-number">Problem 211</div>
<div class="problem-name">Divisor Square Sum</div>
<div class="problem-content">
<p>For a positive integer <var>n</var>, let σ<sub>2</sub>(<var>n</var>) be the sum of the squares of its divisors. For example,</p>

<div style="text-align:center;">σ<sub>2</sub>(10) = 1 + 4 + 25 + 100 = 130.</div>
<p>Find the sum of all <var>n</var>, 0 <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> 64,000,000 such that σ<sub>2</sub>(<var>n</var>) is a perfect square.</p>
</div>
