<div class="problem-number">Problem 258</div>
<div class="problem-name">A lagged Fibonacci sequence</div>
<div class="problem-content">
<p>A sequence is defined as:</p>
<p>
</p>
<ul>
<li>
<var>g</var><sub><var>k</var></sub> = 1, for 0 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>k</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 1999</li>
<li>
<var>g</var><sub><var>k</var></sub> = <var>g</var><sub><var>k</var>-2000</sub> + <var>g</var><sub><var>k</var>-1999</sub>, for <var>k</var> <img src="/files/symbol_ge.gif" alt="≥" style="vertical-align:middle;" border="0" height="12" width="10"> 2000.
</li>
</ul>
<p>Find <var>g</var><sub><var>k</var></sub> mod 20092010 for <var>k</var> = 10<sup>18</sup>.
</p></div>
