<div class="problem-number">Problem 241</div>
<div class="problem-name">Perfection Quotients</div>
<div class="problem-content">
<p>For a positive integer <var>n</var>, let σ(<var>n</var>) be the sum of all divisors of <var>n</var>, so e.g. σ(6) = 1 + 2 + 3 + 6 = 12.
</p>

<p>A perfect number, as you probably know, is a number with σ(<var>n</var>) = 2<var>n</var>.</p>

<p></p>

<div style="text-align:left;">
<table><tbody><tr>
<td>Let us define the <b>perfection quotient</b> of a positive integer as</td>
<td>
<var>p</var>(<var>n</var>)</td>
<td>=&nbsp;</td>
<td>
<div style="text-align:center;">σ(<var>n</var>)<br><img src="/files/blackdot.gif" alt="" height="1" width="30"><br><var>n</var>
</div></td>
<td>.</td>
</tr></tbody></table>
</div>

<!--
<p>Let us define the <b>perfection quotient</b> of a positive integer as <var>p</var>(<var>n</var>) = <font "size=4"> <sup>&sigma;(<var>n</var>)</sup>&frasl;<sub><var>n</var></sub></font>.</p>
-->
<p>Find the sum of all positive integers <var>n</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 10<sup>18</sup> for which <var>p</var>(<var>n</var>) has the form <var>k</var> + <sup>1</sup>⁄<sub>2</sub>, where <var>k</var> is an integer.</p>

</div>
