<div class="problem-number">Problem 210</div>
<div class="problem-name">Obtuse Angled Triangles</div>
<div class="problem-content">
Consider the set S(r) of points (x,y) with integer coordinates satisfying |x| + |y| <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> r. <br>
Let O be the point (0,0) and C the point (r/4,r/4). <br>
Let N(r) be the number of points B in S(r), so that the triangle OBC has an obtuse angle, i.e. the largest angle α satisfies 90°
So, for example, N(4)=24 and N(8)=100.
<p>
What is N(1,000,000,000)?
</p>



</div>
