<div class="problem-number">Problem 213</div>
<div class="problem-name">Flea Circus</div>
<div class="problem-content">
<p>A 30<img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9">30 grid of squares contains 900 fleas, initially one flea per square.<br>
When a bell is rung, each flea jumps to an adjacent square at random 
(usually 4 possibilities, except for fleas on the edge of the grid or at
 the corners).</p>

<p>What is the expected number of unoccupied squares after 50 rings of the bell? Give your answer rounded to six decimal places.</p>
</div>
