<div class="problem-number">Problem 304</div>
<div class="problem-name">Primonacci</div>
<div class="problem-content">
<p>
For any positive integer <var>n</var> the function next_prime(<var>n</var>) returns the smallest prime p <br> such that p<img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var>.
</p>
<p>
The sequence a(<var>n</var>) is defined by:<br>
a(1)=next_prime(10<sup>14</sup>) and a(<var>n</var>)=next_prime(a(<var>n</var>-1)) for n<img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10">1.
</p>
<p></p>
<p>
The fibonacci sequence f(<var>n</var>) is defined by:
f(0)=0, f(1)=1 and f(<var>n</var>)=f(<var>n</var>-1)+f(<var>n</var>-2) for <var>n</var><img src="/files/symbol_gt.gif" alt="&gt;" style="vertical-align:middle;" border="0" height="10" width="10">1.
</p>
<p>
The sequence b(<var>n</var>) is defined as f(a(<var>n</var>)).
</p>
<p>
Find <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">b(<var>n</var>) for 1<img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>n</var><img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10">100 000. 
Give your answer mod 1234567891011. 





</p></div>
