<div class="problem-number">Problem 397</div>
<div class="problem-name">Triangle on parabola</div>
<div class="problem-content">
<p>
On the parabola <var>y</var> = <var>x</var><sup>2</sup>/<var>k</var>, three points A(<var>a</var>, <var>a</var><sup>2</sup>/<var>k</var>), B(<var>b</var>, <var>b</var><sup>2</sup>/<var>k</var>) and C(<var>c</var>, <var>c</var><sup>2</sup>/<var>k</var>) are chosen.
</p>
<p>
Let F(<var>K</var>, <var>X</var>) be the number of the integer quadruplets (<var>k</var>, <var>a</var>, <var>b</var>, <var>c</var>) such that at least one angle of the triangle ABC is 45-degree, with 1 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>k</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>K</var> and -<var>X</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>a</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>b</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>c</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>X</var>.
</p>
<p>
For example, F(1, 10) = 41 and F(10, 100) = 12492.<br>
Find F(10<sup>6</sup>, 10<sup>9</sup>).
</p>
</div>
