<div class="problem-number">Problem 318</div>
<div class="problem-name">2011 nines</div>
<div class="problem-content">
<p>
Consider the real number <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3.<br>
When we calculate the even powers of <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3
we get:<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>2</sup> = 9.898979485566356...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>4</sup> = 97.98979485566356...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>6</sup> = 969.998969071069263...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>8</sup> = 9601.99989585502907...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>10</sup> = 95049.999989479221...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>12</sup> = 940897.9999989371855...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>14</sup> = 9313929.99999989263...<br>
(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>16</sup> = 92198401.99999998915...<br></p>
<p>
It looks like that the number of consecutive nines at the beginning of the fractional part of these powers is non-decreasing.<br>
In fact it can be proven that the fractional part of (<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">2+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3)<sup>2n</sup> approaches 1 for large n.
</p>
<p>
Consider all real numbers of the form <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">p+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">q with p and q positive integers and p<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10">q, such that the fractional part 
of (<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">p+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">q)<sup>2n</sup> approaches 1 for large n.
</p>
<p>
Let C(p,q,n) be the number of consecutive nines at the beginning of the fractional part of <br> (<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">p+<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">q)<sup>2n</sup>.
</p>
<p>
Let N(p,q) be the minimal value of n such that C(p,q,n) <img src="/files/symbol_ge.gif" alt="≥" style="vertical-align:middle;" border="0" height="12" width="10"> 2011.
</p>
<p>
Find <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">N(p,q) for p+q <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 2011.
</p>

















 


</div>
