<div class="problem-number">Problem 342</div>
<div class="problem-name">The totient of a square is a cube</div>
<div class="problem-content">
<p>
Consider the number 50.<br>
50<sup>2</sup> = 2500 = 2<sup>2</sup><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5<sup>4</sup>, so φ(2500) = 2 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 4 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5<sup>3</sup> = 8 <img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5<sup>3</sup> = 2<sup>3</sup><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"> 5<sup>3</sup>. <sup>1</sup><br>
So 2500 is a square and  φ(2500) is a cube.
</p>
<p>
Find the sum of all numbers n, 1 &amp;lt n <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> 10<sup>10</sup> such that φ(n<sup>2</sup>) is a cube.
</p>
<p>
<sup>1</sup> φ denotes <b>Euler's totient function</b>.
</p>



</div>
