<div class="problem-number">Problem 381</div>
<div class="problem-name">(prime-k) factorial</div>
<div class="problem-content">
<p>
For a prime p let S(p) = (<img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">(p-k)!) mod(p) for 1 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> k <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 5.
</p>
<p>
For example, if p=7,<br>
(7-1)! + (7-2)! + (7-3)! + (7-4)! + (7-5)! = 6! + 5! + 4! + 3! + 2! = 720+120+24+6+2 = 872.<br> 
As 872 mod(7) = 4, S(7) = 4.
</p>
<p>
It can be verified that <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">S(p) = 480 for 5 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> p <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> 100.
</p>
<p>
Find <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">S(p) for 5 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> p <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"> 10<sup>8</sup>.
</p>



</div>
