<div class="problem-number">Problem 372</div>
<div class="problem-name">Pencils of rays</div>
<div class="problem-content">
<p>
Let R(<var>M</var>, <var>N</var>) be the number of lattice points (<var>x</var>, <var>y</var>) which satisfy <var>M</var><img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>x</var><img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>N</var>, <var>M</var><img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>y</var><img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>N</var> and <img style="vertical-align:middle" src="/files/p_372_pencilray1.jpg"> is odd.<br>
We can verify that R(0, 100) = 3019 and R(100, 10000) = 29750422.<br>
Find R(2·10<sup>6</sup>, 10<sup>9</sup>).
</p>

<p>
<u><i>Note</i></u>: <img style="vertical-align:middle" src="/files/p_372_pencilray2.gif"> represents the floor function.</p>

</div>
