<div class="problem-number">Problem 320</div>
<div class="problem-name">Factorials divisible by a huge integer</div>
<div class="problem-content">
<p>
Let N(<var>i</var>) be the smallest integer <var>n</var> such that <var>n</var>! is divisible by (<var>i</var>!)<sup>1234567890</sup></p>
<p>
Let S(<var>u</var>)=<img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">N(<var>i</var>) for 10 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>i</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>u</var>.
</p>
<p>
S(1000)=614538266565663.
</p>
<p>
Find S(1 000 000) mod 10<sup>18</sup>.
</p>


</div>
