<div class="problem-number">Problem 383</div>
<div class="problem-name">Divisibility comparison between factorials</div>
<div class="problem-content">
<p>
Let f<sub>5</sub>(<var>n</var>) be the largest integer <var>x</var> for which 5<sup><var>x</var></sup> divides <var>n</var>.<br>
For example, f<sub>5</sub>(625000) = 7.
</p>

<p>
Let T<sub>5</sub>(<var>n</var>) be the number of integers <var>i</var> which satisfy f<sub>5</sub>((2·<var>i</var>-1)!) 5(<var>i</var>!) and 1 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>i</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>n</var>.<br>
It can be verified that T<sub>5</sub>(10<sup>3</sup>) = 68 and T<sub>5</sub>(10<sup>9</sup>) = 2408210.
</p>

<p>
Find T<sub>5</sub>(10<sup>18</sup>).
</p>
</div>
