<div class="problem-number">Problem 365</div>
<div class="problem-name">A huge binomial coefficient</div>
<div class="problem-content">
<p>
The binomial coeffient C(10<sup>18</sup>,10<sup>9</sup>) is a number with more than 9 billion (9<img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9">10<sup>9</sup>) digits.
</p>
<p>
Let M(n,k,m) denote the binomial coefficient C(n,k) modulo m.
</p>
<p>
Calculate <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">M(10<sup>18</sup>,10<sup>9</sup>,p*q*r) for 1000<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10">p<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10">q<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10">r<img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10">5000 and p,q,r prime.
</p>




</div>
