<div class="problem-number">Problem 379</div>
<div class="problem-name">Least common multiple count</div>
<div class="problem-content">
<p>
Let <var>f</var>(<var>n</var>) be the number of couples (<var>x</var>,<var>y</var>) with <var>x</var> and <var>y</var> positive integers, <var>x</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>y</var> and the least common multiple of <var>x</var> and <var>y</var> equal to <var>n</var>.
</p>
<p>
Let <var>g</var> be the <b>summatory function</b> of <var>f</var>, i.e.: 
<var>g</var>(<var>n</var>) = <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11"><var>f</var>(<var>i</var>)  for 1 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>i</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>n</var>.
</p>
<p>
</p>
<p>
You are given that <var>g</var>(10<sup>6</sup>) = 37429395.
</p>
<p>
Find <var>g</var>(10<sup>12</sup>).
</p>






</div>
