<div class="problem-number">Problem 354</div>
<div class="problem-name">Distances in a bee's honeycomb </div>
<div class="problem-content">
<p>Consider a honey bee's honeycomb where each cell is a perfect regular hexagon with side length 1.</p>


<div align="center">
<img src="/files/p_354_bee_honeycomb.png">
</div>


<p>
One particular cell is occupied by the queen bee.<br>
For a positive real number <var>L</var>, let B(<var>L</var>) count the cells with distance <var>L</var>
 from the queen bee cell (all distances are measured from centre to 
centre); you may assume that the honeycomb is large enough to 
accommodate for any distance we wish to consider. <br>
For example, B(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">3) = 6, B(<img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">21) = 12 and B(111 111 111) = 54.</p>

<p>Find the number of <var>L</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 5·10<sup>11</sup> such that B(<var>L</var>) = 450.</p>
</div>
