<div class="problem-number">Problem 390</div>
<div class="problem-name">Triangles with non rational sides and integral area</div>
<div class="problem-content">
<p>Consider the triangle with sides <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">5, <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">65 and <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">68.
It can be shown that this triangle has area 9.</p>

<p>S(n) is the sum of the areas of  all triangles with sides <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">(1+b<sup>2</sup>), <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">(1+c<sup>2</sup>) and <img src="/files/symbol_radic.gif" alt="√" style="vertical-align:middle;" border="0" height="16" width="14">(b<sup>2</sup>+c<sup>2</sup>) (for positive integers b and c ) that have an integral area not exceeding n.</p>

<p>The example triangle has b=2 and c=8.</p>

<p>S(10<sup>6</sup>)=18018206.</p>

<p>Find S(10<sup>10</sup>).</p>
</div>
