<div class="problem-number">Problem 330</div>
<div class="problem-name">Euler's Number</div>
<div class="problem-content">
An infinite sequence of real numbers <var>a</var>(<var>n</var>) is defined for all integers <var>n</var> as follows:

<div align="center"><img src="/files/p_330_formula.gif"></div>

<p>For example,<br></p>
<table class="formula"><tbody><tr>
<td>
<var>a</var>(0) = </td>
    <td><table class="frac">
<tbody><tr><td>1</td></tr>
<tr><td class="overline">1!</td></tr>
</tbody></table></td>
    <td>+</td>
    <td><table class="frac">
<tbody><tr><td>1</td></tr>
<tr><td class="overline">2!</td></tr>
</tbody></table></td>
    <td>+</td>
    <td><table class="frac">
<tbody><tr><td>1</td></tr>
<tr><td class="overline">3!</td></tr>
</tbody></table></td>
    <td>+ ... = e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 1 </td>
</tr></tbody></table>
<table class="formula"><tbody><tr>
<td>
<var>a</var>(1) = </td>
    <td><table class="frac">
<tbody><tr><td>e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 1</td></tr>
<tr><td class="overline">1!</td></tr>
</tbody></table></td>
    <td>+</td>
    <td><table class="frac">
<tbody><tr><td>1</td></tr>
<tr><td class="overline">2!</td></tr>
</tbody></table></td>
    <td>+</td>
    <td><table class="frac">
<tbody><tr><td>1</td></tr>
<tr><td class="overline">3!</td></tr>
</tbody></table></td>
    <td>+ ... = 2e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 3 </td>
</tr></tbody></table>
<table class="formula"><tbody><tr>
<td>
<var>a</var>(2) = </td>
    <td><table class="frac">
<tbody><tr><td>2e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 3</td></tr>
<tr><td class="overline">1!</td></tr>
</tbody></table></td>
    <td>+</td>
    <td><table class="frac">
<tbody><tr><td>e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 1</td></tr>
<tr><td class="overline">2!</td></tr>
</tbody></table></td>
    <td>+</td>
    <td><table class="frac">
<tbody><tr><td>1</td></tr>
<tr><td class="overline">3!</td></tr>
</tbody></table></td>
    <td>+ ... =</td>
    <td><table class="frac">
<tbody><tr><td>7</td></tr>
<tr><td class="overline">2</td></tr>
</tbody></table></td>
    <td>e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 6 </td>
</tr></tbody></table>
with e = 2.7182818... being Euler's constant.

<p>
</p>
<table class="formula"><tbody><tr>
<td>It can be shown that <var>a</var>(<var>n</var>) is of the form 
    </td>
    <td><table class="frac">
<tbody><tr><td>A(<var>n</var>) e + B(<var>n</var>)</td></tr>
<tr><td class="overline">
<var>n</var>!</td></tr>
</tbody></table></td>
    <td>for integers A(<var>n</var>) and B(<var>n</var>). 
    </td>
</tr></tbody></table>
<table class="formula"><tbody><tr>
<td>For example <var>a</var>(10) = 
    </td>
    <td><table class="frac">
<tbody><tr><td>328161643 e <img src="/files/symbol_minus.gif" alt="−" style="vertical-align:middle;" border="0" height="3" width="9"> 652694486</td></tr>
<tr><td class="overline">10!</td></tr>
</tbody></table></td>
    <td>.</td>
</tr></tbody></table>
<p>
Find A(10<sup>9</sup>) + B(10<sup>9</sup>) and give your answer mod 77 777 777.
</p>



</div>
