<div class="problem-number">Problem 40</div>
<div class="problem-name">Champernowne's constant</div>
<div class="problem-content">
<p>An irrational decimal fraction is created by concatenating the positive integers:</p>
<p style="text-align:center;">0.12345678910<span style="color:#dd0000;font-size:14pt;">1</span>112131415161718192021...</p>
<p>It can be seen that the 12<sup>th</sup> digit of the fractional part is 1.</p>
<p>If <i>d</i><sub><i>n</i></sub> represents the <i>n</i><sup>th</sup> digit of the fractional part, find the value of the following expression.</p>
<p style="text-align:center;"><i>d</i><sub>1</sub><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"><i>d</i><sub>10</sub><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"><i>d</i><sub>100</sub><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"><i>d</i><sub>1000</sub><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"><i>d</i><sub>10000</sub><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"><i>d</i><sub>100000</sub><img src="/files/symbol_times.gif" alt="×" style="vertical-align:middle;" border="0" height="9" width="9"><i>d</i><sub>1000000</sub></p>

</div>
