<div class="problem-number">Problem 407</div>
<div class="problem-name">Idempotents</div>
<div class="problem-content">
<p>
If we calculate <var>a</var><sup>2</sup> mod 6 for 0 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>a</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 5 we get: 0,1,4,3,4,1.
</p>
<p>
The largest value of <var>a</var> such that <var>a</var><sup>2</sup><img src="/files/symbol_cong.gif" alt="≡" style="vertical-align:middle;" border="0" height="11" width="9"><var>a</var> mod 6 is 4.<br>
Let's call M(<var>n</var>) the largest value of <var>a</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>n</var> such that <var>a</var><sup>2</sup><img src="/files/symbol_cong.gif" alt="≡" style="vertical-align:middle;" border="0" height="11" width="9"><var>a</var> (mod <var>n</var>).<br>
So M(6) = 4.
</p>
<p>
Find <img src="/files/symbol_sum.gif" alt="∑" style="vertical-align:middle;" border="0" height="14" width="11">M(<var>n</var>) for 1 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><var>n</var> <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 10<sup>7</sup>.
</p>

</div>
