<div class="problem-number">Problem 91</div>
<div class="problem-name">Right triangles with integer coordinates</div>
<div class="problem-content">
<p>The points P (<i>x</i><sub>1</sub>, <i>y</i><sub>1</sub>) and Q (<i>x</i><sub>2</sub>, <i>y</i><sub>2</sub>) are plotted at integer co-ordinates and are joined to the origin, O(0,0), to form ΔOPQ.</p>


<div style="text-align:center;">
<img src="/files/p_091_1.gif" alt=""><br>
</div>

<p>There are exactly fourteen triangles containing a right angle that 
can be formed when each co-ordinate lies between 0 and 2 inclusive; that
 is,<br>0 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><i>x</i><sub>1</sub>, <i>y</i><sub>1</sub>, <i>x</i><sub>2</sub>, <i>y</i><sub>2</sub><img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 2.</p>


<div style="text-align:center;">
<img src="/files/p_091_2.gif" alt=""><br>
</div>

<p>Given that 0 <img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"><i>x</i><sub>1</sub>, <i>y</i><sub>1</sub>, <i>x</i><sub>2</sub>, <i>y</i><sub>2</sub><img src="/files/symbol_le.gif" alt="≤" style="vertical-align:middle;" border="0" height="12" width="10"> 50, how many right triangles can be formed?</p>
</div>
