<div class="problem-number">Problem 9</div>
<div class="problem-name">Special Pythagorean triplet</div>
<div class="problem-content">
<p>A Pythagorean triplet is a set of three natural numbers, <var>a</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>b</var> <img src="/files/symbol_lt.gif" alt="&lt;" style="vertical-align:middle;" border="0" height="10" width="10"><var>c</var>, for which,</p>

<div style="text-align:center;"> <var>a</var><sup>2</sup> + <var>b</var><sup>2</sup> = <var>c</var><sup>2</sup>
</div>
<p>For example, 3<sup>2</sup> + 4<sup>2</sup> = 9 + 16 = 25 = 5<sup>2</sup>.</p>
<p>There exists exactly one Pythagorean triplet for which <var>a</var> + <var>b</var> + <var>c</var> = 1000.<br>Find the product <var>abc</var>.</p>

</div>
