%h1 New team
=form_for(:team) do |f|
  =f.text_field :name, {placeholder: "New team"}
  =f.submit
%h1 Teams
%ul
  - @teams.each do |team|
    %li
      = link_to team.name, team_path(team)
      = team.problems_solved
