%p
  %strong
    These problems are part of
    =link_to "Project Euler", "https://projecteuler.net/"
    and are licensed under
    =link_to "CC BY-NC-SA 2.0 UK", "http://creativecommons.org/licenses/by-nc-sa/2.0/uk/"
