= render partial: "problems/all_problems/p_#{params[:number]}"

%div{class: @correctness}
  = @message

%form{action: problem_path(params[:number]), method: :get}
  %input{name: "solution", placeholder: "Solution"}
  %input{type: "submit", value: "Check"}

= render partial: "attribution"
