<div class="col-md-12" style="text-align: center;">
<img src="/dontsuck.jpeg" width="50%">
<h1>Join us for the Project Euler 5k!</h1>
<p style="text-align: justify">Programmers and problem solvers will compete in teams of four to solve <a href="/problems">problems from Project Euler</a>, using their own choice of programming language. Beginners and experienced programmers alike will find problems at their level, and peers to team up with. Prizes will be awarded in three categories: Beginner, Intermediate, and Open, according to <a href="/rules">the rules</a>.</p>
</div>

<div class="col-md-12">
<h2 style="text-align: center;">Sign up on the <a href="http://www.meetup.com/Project-Euler-Sprint/events/177764282/" rel="noreferrer">Meetup page</a> for free admission!</h2>
</div>

<div class="col-md-6">
<h2 style="text-align: center;">Saturday 28 June 2014</h2>
<table>
<tr><th>11 a.m.</th><td>Doors open</td></tr>
<tr><th>12 noon</th><td>Lunch (provided) and formation of teams</td>
<tr><th>1 p.m.</th><td>Competition begins</td></tr>
<tr><th>4 p.m.</th><td>Winners and prizes announced</td></tr>
</table>
</div>

<div class="col-md-6">
<h2 style="text-align: center;">Location</h2>
<p style="text-align: justify">The event is hosted by ThoughtWorks and will be held at their offices on the 25th floor of the Aon Center, 200 E Randolph St, Chicago, IL 60601 <a href="https://goo.gl/maps/VS9Ha" rel="noreferrer">(map)</a>.</p>
</div>
