<h1 class="banner-text">The Project Euler Sprint</h1>
<%= image_tag '/banner.jpeg', class: 'banner' %>
<h2 class="banner-text">Write Code. Do Math. Make Friends.</h2>
<div class="col-md-6 col-md-offset-3">
	<p class="hero-copy">
		Programmers and problem solvers compete in teams of four to solve <%= link_to " problems from Project Euler ", problems_path %> using their preferred programming language. Beginning, intermediate, and experienced programmers alike will find problems at their level and peers to team up with.
	</p>
	<%= link_to "http://www.meetup.com/Project-Euler-Sprint" do %>
		<%= button_tag 'Find us on Meetup.com!', class: 'btn btn-danger' %>
	<% end %>
</div>
