<div class="col-md-12" style="text-align: center;">
<img src="/dontsuck.jpeg" width="50%">
<h1>Join us for the Project Euler Sprint!</h1>
<p style="text-align: justify">Programmers and problem solvers compete in teams of four to solve <a href="/problems">problems from Project Euler</a>, using their own choice of programming language. Beginners, intermediate and experienced programmers alike will find problems at their level, and peers to team up with.</p>
</div>

<div class="col-md-12">
<h2 style="text-align: center;"><a href="http://www.meetup.com/Project-Euler-Sprint" rel="noreferrer">Sign up and RSVP on the Meetup page</a>!</h2>
</div>
