=form_for form do |f|
 %table
  %tr
   %th Team
   %td=f.collection_select(:team, Team.all, :id, :name)
  %tr
   %th Problem
   %td
    =f.number_field :problem, {placeholder: 'Problem number'}
  %tr
   %th
   %td=f.submit

