<h1>Chapters</h1>

<p>Email me at <%= link_to 'brian@callmekung.com', 'mailto:brian@callmekung.com' %> if you're interested in starting a chapter near you!</p>

<table>
  <tr>
    <th>Chapter</th>
    <th>RSVP at</th>
    <th>Past Events</th>
  </tr>
  <% @chapters.each do |chapter| %>
    <tr>
      <th><%= chapter.location %></th>
      <td><%= link_to chapter.url, chapter.url %></td>
      <td><%= link_to "#{chapter.location} Events", chapter_path(chapter.id) %></td>
    </tr>
  <% end %>
</table>
<%# link_to "Start a new Chapter", new_chapter_path %>