.event form {
  display: inline-block;
}

.event input[type=submit] {
  position: absolute;
  left: -1000px;
  top: -1000px;
}

.event a:link, a:visited {
  color: black;
  text-decoration: none;
}

.event a:hover, a:active {
  color: white;
  background: black;
  text-decoration: none;
}

.event tbody tr:hover {
  background: #eee;
}
