form {
  display: inline-block;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: white;
  background: black;
  text-decoration: none;
}


tbody tr:hover {
  background: #eee;
}
