.banner {
	width: 100%;
}

.banner-text {
	text-align: center;
}

h1.banner-text {
	font-family: 'Yellowtail', cursive;
}

h2.banner-text {
	font-family: 'Economica', sans-serif;
}

.logo {
	height: 3em;
	-webkit-border-radius: 99px;
	-moz-border-radius: 99px;
	border-radius: 99px;
}