.rankings h2 {
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: xx-large;
  text-align: center;
}

.rankings table {
  width: 100%;
  counter-reset: tr;
}

.rankings th, td {
  text-align: left;
  vertical-align: top;
  padding: 0 1em 0 0;
}

.rankings tbody tr::before {
  counter-increment: tr;
  content: counter(tr) ". ";
  display: table-cell;
}
